GEMINI_API_KEY=your_api_key_here #need nyo lagay api key nyo rito, yung free nalang muna or hingin nyo sakin personally

LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=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
LANGCHAIN_PROJECT="Capstone_RAG_Testing"