GEMINI_API_KEY=your_api_key_here #need nyo lagay api key nyo rito, yung free nalang muna or hingin nyo sakin personally

# LangSmith Tracing for Capstone Testing
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=your_langsmith_api_key_here
LANGCHAIN_PROJECT="Capstone_RAG_Testing"